@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000915;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background: url(img/topback.jpg) no-repeat center/cover;
    padding-top: 217px;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    max-width: 660px;
    margin-bottom: 32px;
}

.top__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 481px;
    margin-bottom: 44px;
}

.top__text span {
    font-weight: 700;
}

.top__button {
    font-family: "Montserrat", sans-serif;
    width: 234px;
    height: 48px;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.game {
    padding-top: 128px;
    padding-bottom: 128px;
}

.game__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.game__item {
    height: 300px;
    grid-column: span 4;
    position: relative;
}

.game__item_1 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game-1.jpg) no-repeat 100% 50%/cover;
    border-radius: 16px;
}

.game__item_2 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game-2.jpg) no-repeat 100% 50%/cover;
    border-radius: 16px;
}

.game__item_3 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game-3.jpg) no-repeat 100% 50%/cover;
    border-radius: 16px;
}

.game__link {
    display: block;
    width: 379px;
    height: 300px;
}

.game__title {
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.game__title a {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}