$color-black: #000000;
$color-darkGray: #202027;
$color-white: #FFFFFF;
$size-16: 16px;
$size-24: 24px;
$size-32: 32px;
$size-48: 48px;
$size-64: 64px;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;